/**
 * @function
 */
@function rpx($px) {
  @return $px + rpx;
}

image {
  display: block;
  width: 100%;
  height: 100%;
}

view, input, image, textarea, scroll-view, button {
  box-sizing: border-box;
}

.line {
  height: rpx(20);
  background-color: #f2f2f2;
}
button {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
  &:after {
    border-radius: 0;
    border: none;
  }
}
